node_modules
.next
yarn.lock
public 
coverage
.gitkeep
*.hbs
/app/[lang]/[...not-found]/page.tsx
/app/[lang]/about/page.tsx
/app/[lang]/catalog/[...id]/page.tsx
/app/[lang]/catalog/page.tsx
/app/[lang]/contact/page.tsx
/app/[lang]/contact/success/page.tsx
/app/[lang]/layout.tsx
/app/[lang]/not-found.tsx
/app/[lang]/page.tsx
/app/lib/actions.ts
/app/lib/api/services.ts
/app/lib/dictionary.ts
/app/lib/hooks/useCategorySearchString.ts
/app/lib/instance.ts
/app/lib/interfaces.ts
/app/lib/utils/formatPhoneNumber.ts
/app/lib/utils/getFiteredProducts.ts
/app/lib/utils/sendEmail.ts
/app/providers.tsx
/app/robots.js
/app/sitemap.ts
/app/ui/AboutPage/About.tsx
/app/ui/CatalogPage/Catalog.tsx
/app/ui/CatalogPage/CategoryList/Categories.tsx
/app/ui/CatalogPage/CategoryList/Category/Category.tsx
/app/ui/CatalogPage/CategoryList/CategoryList.tsx
/app/ui/CatalogPage/CategoryList/MenuCategory/MenuCategory.tsx
/app/ui/CatalogPage/LoadMore/LoadMore.tsx
/app/ui/CatalogPage/MobileFilterMenu/MobileFilterMenu.tsx
/app/ui/CatalogPage/ProductItem/ProductItem.tsx
/app/ui/CatalogPage/ProductList/ProductList.tsx
/app/ui/CatalogPage/Search/Search.tsx
/app/ui/ContactPage/Contact.tsx
/app/ui/ContactPage/contactInfo/ContactInfo.tsx
/app/ui/HomePage/benefits/Benefits.tsx
/app/ui/HomePage/forBuisness/ForBuisness.tsx
/app/ui/HomePage/hero/Hero.tsx
/app/ui/HomePage/location/Location.tsx
/app/ui/HomePage/location/locationsSlider/LocationsSlider.tsx
/app/ui/HomePage/manufacture/Manufacture.tsx
