# Ignore node_modules directory
node_modules

# Ignore Next.js build output directory
.next

# Ignore lock file
yarn.lock

# Ignore public assets directory
public

# Ignore test coverage output
coverage

# Ignore .gitkeep files
.gitkeep

# Ignore all Handlebars template files
*.hbs

# Ignore specific TypeScript files that caused errors during build
app/[lang]/[...not-found]/page.tsx
app/[lang]/about/page.tsx
app/[lang]/catalog/[...id]/page.tsx
app/[lang]/catalog/page.tsx
app/[lang]/contact/page.tsx
app/[lang]/contact/success/page.tsx
app/[lang]/layout.tsx
app/[lang]/not-found.tsx
app/[lang]/page.tsx
app/ui/HomePage/manufacture/Swiper/manufactureSwiper.tsx
app/ui/ModalWindow/ModalWindow.tsx
app/ui/ProductPage/Product.tsx
app/ui/ProductPage/productContent/ProductContent.tsx
app/ui/ProductPage/productSlider/ImagesSection.tsx
app/ui/ProductPage/productSlider/ProductSlider.tsx
app/ui/ProductPage/productTable/ProductTable.tsx
app/ui/Products/Products.tsx
app/ui/Skeletons/CategoriesSkeleton.tsx
app/ui/Skeletons/ProductListSkeleton.tsx
app/ui/Skeletons/SingleProductSkeleton.tsx
app/ui/contactForm/ContactForm.tsx
app/ui/footer/Footer.tsx
app/ui/footer/footerContacts/FooterContacts.tsx
app/ui/footer/underFooter/UnderFooter.tsx
app/ui/googleMap/GoogleMap.tsx
app/ui/header/Header.tsx
app/ui/header/headerWrapper/HeaderWrapper.tsx
app/ui/header/mobileMenu/MobileMenu.tsx
app/ui/localeSwitcher/LocaleSwitcher.tsx
app/ui/modalForm/ModalForm.tsx
app/ui/navBar/NavBar.tsx
app/ui/sectionWrapper/SectionWrapper.tsx
app/ui/submitButton/SubmitButton.tsx
app/ui/svg/*.tsx
app/ui/theme.ts
