.swiper-scrollbar {
	background: #d6d6d6;
	border-radius: 2px;
	height: 5px;
	width: 200px;
	bottom: 0;
	left: 50%;
}
.swiper-wrapper {
	padding-bottom: 20px;
}

.swiper-wrapper {
	flex-direction: row;
}

.swiperImageBlock {
	min-width: 100%;
}

/* @media screen and (min-width: 993px) {
	.swiperImageBlock {
		min-width: 480px;
	}
} */

@media screen and (min-width: 992px) {
	.swiper-wrapper {
		flex-direction: column;
	}
	.swiperImageBlock {
		min-width: 330px;
	}
}

@media screen and (min-width: 1280px) {
	.swiperImageBlock {
		min-width: 530px;
	}
}

.swiper-slide {
	height: auto !important;
}
