.footerContacts li {
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

.footerContacts li::after {
  transform: scaleX(0);
  transform-origin: right;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0.6;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.footerContacts li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
